@background-color: #E3F2FD;
@definition-active: #BBDEFB;
@definition-not-active: #EDE7F6;
@can-drop-color: #90CAF9;
@is-over-color: #64B5F6;
@drag-shadow-color: #BBDEFB;

@import 'login-register';

body {
  background-color: @background-color;
  margin: 0;
}

.constructor-wrapper {
  flex-basis: 100%;
  background-color: @background-color !important;
}

.constructor-label {
  text-align: center;
  margin: 30px;
}

.padding-small {
  padding: 20px;
}

.margin-top-small {
  margin-top: 20px;
}

.search-block {
  width: 100%;

  input {
    text-align: center;
  }
}

.definition-block {
  &_active {
    background-color: @definition-active !important;
  }

  &_not-active {
    background-color: @definition-not-active !important;
  }
}

.definition-text {
  display: inline-block;
  vertical-align: middle;
}

.translation-list {
  min-height: 50px;

  &_can-drop {
    background-color: @can-drop-color;
    border-radius: 5px 5px;
  }

  &_drag-over {
    background-color: @is-over-color;
    border-radius: 5px 5px;
  }
}

.translation-item {
  position: relative;

  &_dragging {
    //background-color: @drag-shadow-color;
    border-radius: 5px 5px;
    border: 1px dashed;
  }
}

.examples-list {
  min-height: 50px;

  &_can-drop {
    background-color: @can-drop-color;
    border-radius: 5px 5px;
  }

  &_drag-over {
    background-color: @is-over-color;
    border-radius: 5px 5px;
  }
}

.example-item {
  position: relative;

  &_dragging {
    //background-color: @drag-shadow-color;
    border-radius: 5px 5px;
    border: 1px dashed;
  }
}

.submit-constructor {
  position: fixed !important;
  bottom: 90px;
  right: 90px;
}